.reading-pane {
  height: 100%;
  width: 100%;
  padding: 40px 40px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

.reading-pane a {
  text-decoration: none;
}

.reading-pane .title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.reading-pane .heading {
  font-size: 1.03em;
  font-weight: bold;
  line-height: 1.2em;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 20px;
}

.reading-pane .label {
    padding: inherit;
    font-size: 10px;
    background-color: transparent;
    color: inherit;
    display: inherit;
    margin-right: 5px;
    color: #8b8b8b;
}

.reading-pane .verse {
  font-family: ArialMT, "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 16px;
  color: #616161;
  line-height: 1.7em;
}

.reading-pane .jin.chapter .heading { font-weight: 800; font-size: 140%; }
.reading-pane .jin.chapter .ref-heading { font-weight: 600; font-size: 90%; margin-top: 5px; margin-bottom: 20px; }
  
.reading-pane .jin.chapter .verse { font-family: FreeSans; }
.reading-pane .jin.chapter .verse.ot_xref { font-family: sans-serif; font-size: 110% }

.reading-pane .person { border-bottom: solid; }
.reading-pane .place { border-bottom: medium double; }
.reading-pane .quote { margin-left: 40px; }
.reading-pane .lord { color: #F34; }
.reading-pane .note { vertical-align: super; cursor: pointer; font-size: 80% }

.reading-pane .disable-link {
  /* pointer-events: none; */
  cursor: default;
}

.reading-pane .selected {
  border-bottom: 2px rgb(42, 71, 128) dotted;
}

