.reading-pane {
  justify-content: center;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

.reading-pane .book-select {
  grid-template-areas: 1/1/1/1;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.reading-pane .content-pane {
  grid-template-areas: 2/1/2/1;
  overflow: scroll;
  width: calc(100% - 80px);
  padding: 20px 40px;
}

.content-pane .title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.content-pane .s {
  font-size: 1.03em;
  font-weight: bold;
  line-height: 1.2em;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 20px;
}

.content-pane .label {
    padding: inherit;
    font-size: 14px;
    background-color: transparent;
    color: inherit;
    display: inherit;
    margin-right: 5px;
    color: #616161;
}

.content-pane .selected {
  border-bottom: 1px #313131 dotted;
}
