#study-guide {
  height: 100%;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

#study-guide #menu {
  height: 80px;
  padding: 20px 20px 40px 40px;
  width: 100%;
  background-color:#fffafa;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 5px 5px -2px rgba(0,0,0,.2);
  box-sizing: border-box;
}

#study-guide .menu-heading {
  width: 200px;
  font-size: 1.5em;
}

#study-guide .menu-items {
  display: flex;
}

#study-guide .menu-item {
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

#study-guide #study-content {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: calc(100% - 80px); /* minus height of menu or portion at bottom won't show */
  overflow: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-top: 5px; /* compensate for menu shadow */
}

#study-guide .guide {
  width: 100%;
  padding: 20px 0;
}

.dim {
  opacity: 0.2;
}

.guide .heading {
  background-color: rgb(165, 164, 164);
  border-radius: 10px 10px 0 0;
  color: #524848;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.guide .content {
  padding: 5px 20px 10px 10px;
  background-color: rgb(247, 245, 243);
  border-radius: 0 0 10px 10px;
}

.guide .content .title {
  font-weight: bold;
}

.guide .content .block {
  margin: 20px;
}

.guide .content .date {
  font-size: 0.8em;
}

.guide .content .desc {
  font-size: 0.8em;

    /* below takes care of long URL that's unable to wrap */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#study-guide .note-comments {
  margin-left: 50px;
}

#mi-sunday-school {
  display: none;
}

#mi-notes {
  display: none;
}

#sunday-school {
  display: none;
}

#notes {
  display: none;
}