#study-guide {
  height: 100%;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

#study-guide #menu {
  height: 80px;
  padding: 20px 20px 40px 40px;
  width: 100%;
  background-color:#fffafa;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 5px 5px -2px rgba(0,0,0,.2);
  box-sizing: border-box;
}

#study-guide .menu-heading {
  width: 200px;
  font-size: 1.5em;
}

#study-guide .menu-items {
  display: flex;
}

#study-guide .menu-item {
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

#study-guide #study-content {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: calc(100% - 80px); /* minus height of menu or portion at bottom won't show */
  overflow: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-top: 5px; /* compensate for menu shadow */
}

#study-guide .section {
  width: 100%;
  padding: 20px 0;
}

.dim {
  opacity: 0.2;
}

.section .section-heading {
  background-color: rgb(165, 164, 164);
  border-radius: 10px 10px 0 0;
  color: #524848;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.sub-section .title {
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.2em;
}

.section .section-content {
  /* padding: 5px 20px 0 0; */
  /* background-color: rgb(247, 245, 243); */
  /* border-radius: 0 0 10px 10px; */
}

.section .section-content .title {
  font-weight: bold;
}

.section .section-content .date {
  font-size: 0.8em;
}

.section .section-content .desc {
  font-size: 0.8em;

    /* below takes care of long URL that's unable to wrap */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#sermons .section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: (400px, auto);
}

.sermon-block {
  background-color: rgb(247, 245, 243);
  width: cal(100% - 20px);
  padding: 10px;
  border: solid 5px white;
  border-radius: 10px;
}

.words-table {
  display: flex;
  flex-wrap: wrap;
}

.words-table .word-cell {
  margin: 15px;
}

.translit {
  font-style: italic;
}

.word-link {
  border-bottom: dotted 2px cornflowerblue;
  color: cornflowerblue;
  cursor: pointer;
}

.greek {
  font-weight: 200;
  font-size: 140%;
}

.paragraph-block {
  background-color: rgb(247, 245, 243);
  padding: 10px 10px;
  border: solid 2px white;
  border-radius: 10px;
}

.paragraph {
  /* below takes care of long URL that's unable to wrap */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.cr-verseKey-col {
  width: 15%;
  padding: 10px;
}

.cr-verse-col {
  width: 55%;
  padding: 10px;
}

.cross-ref-words-col {
  width: 30%;
  padding: 10px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#hymns {
  display: none;
}

table td {
  vertical-align: top;
  padding-right: 15px;
}

.hidden {
  display: none;
}

#word-lookup {
  position: fixed;
  top: 200px;
  bottom: 100px;
  width: 400px;
  right: 0px;
  overflow-y: scroll;
  padding: 2px 20px;
  background-color: rgba(78, 78, 78, 0.75);
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#word-lookup a, #word-lookup a:visited {
   color: #ddd; 
   text-decoration: underline;
}

#word-lookup h3 {
  clear: both;
  border-bottom: 1px dotted;
}

#word-lookup td {
  color: #fff;
}
